.defectview {
    background-color: #999;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // width: 100vw;

    img {
        margin: 0 auto;
        // width: 100vw;
        max-width: 100vw;
        // height: auto;
        max-height: 100vh;
    }
}

.defectview-container {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: #999;
}

.defectview-defect {
    position: absolute;

}