.defecttype {
    color: black;
    
    .defecttype-text {
        font-size: 24px;
    }

    .defecttype-bodywrapper {
        padding-left: 20px;
        padding-right: 20px;
    }

    .defecttype-buttonswrapper {
        padding-left: 20px;
        padding-right: 20px;
    }
}