.defecttypesindex {

    h1 {
        // color: rgba(255, 255, 255, 0.6) !important;
    }

    .list-group-item {
        background-color: rgba(255, 255, 255, 1);
        margin: 5px 0 0 0;
        
        h2 {
            // color: rgba(255, 255, 255, 1) !important;
        }
    }    
}

.defecttypesindex-block {
    width: 800px;
    max-width: 100%;
    margin: 0 auto;
}