.slide {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.slide-body {
  overflow-y: auto;
  position: absolute;
  top: 80px; // navbar height
  left: 0;
  width: 100vw;
  bottom: 0;
}

.slide--home {
    height: 200px;
    color: #fff;
    font-size: 30px;
    text-align: center;
  }
  
  .slide--defecttypesindex {
    background-color: #efefef;
    color: #333 !important;
    // background: url(/images/15505.jpg) no-repeat center center; 
    // -webkit-background-size: cover;
    // -moz-background-size: cover;
    // -o-background-size: cover;
    // background-size: cover;
  }
  
  .slide--defectview {
    background-color: #5C5C5C;
    color: #333;
  }
  
  .slide--usersettings {
    background-color: #efefef;
    color: #333;
  }