.usersettings-remote {
    max-height: 100%;
    height: 300px;
}

.usersettings-selectoption {
    height: 50px;
}

.usersettings-selectoption_image {
    width: 50px;
    height: 50px;
}

.usersettings-selectoption_name {
    font-size: 20px;
    margin-left: 5px;
}