
// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import "../../node_modules/vue-select/dist/vue-select.css";
@import '../../node_modules/uikit/dist/css/uikit.css';

$ionicons-font-path: "../../node_modules/ionicons/dist/fonts";
@import "../../node_modules/ionicons/dist/scss/ionicons.scss";
i.ion {
  font-size: 24px;
}

button.btn-with-icon {
  position: relative;
  height: 40px;

  i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

@import 'body';
// @import 'circularmenu';
@import 'defectview';
@import 'defect';
@import 'defecttypesindex';
@import 'defecttype';
@import "fullview";
@import "slide";
@import "tooltip";
@import "actionbtn";
@import "register";
@import "usersettings";

@import '../../node_modules/swiper/dist/css/swiper.css';

// override tooltip, because of bootstrap and vue-tooltip collission
// .tooltip {
//   opacity: 1.0 !important;
// }