// App.vue
<template>
    <router-view></router-view>
</template>

<style lang="scss">
</style>

<script>
export default {
    components: {
    },

    data: function() {
        return {
        }
    },

    mounted: function() {
        console.log("App");
    },

    computed: {
    },

    methods: {
    },
}
</script>