<template>
    <div class="slide slide--defectview">
        <div class="defectview-container">
            <div class="defectview">
                <img src="/images/bauteilansicht.png">
                <Defect :defect="defect" v-for="(defect, index) in defects" :key="index"></Defect>
            </div>

            <div class="actionbtn2">
                <button @click.prevent="send" class="uk-button uk-button-primary btn_with_icon"><i class="ion ion-ios-send"></i></button>
            </div>

            <div class="actionbtn">
                <button @click.prevent="undo" class="uk-button uk-button-danger btn_with_icon"><i class="ion ion-ios-trash"></i></button>
            </div>
        </div>
    </div>
</template>

<script>
import { mapActions } from 'vuex';
import { mapGetters } from 'vuex';
import { mapState } from 'vuex';
import Defect from './Defect.vue';

    export default {
        props: {
        },

        data() {
            return {
            }
        },

        components: {
            Defect
        },

        mounted() {
            let self = this;

            this.loadDefectTypes();
            this.loadDefects();

            window.Echo.channel('defects')
                .listen('NewDefect', (e) => {
                    console.log(e);
                    console.log(e.payload);
                    self.$store.commit("ADD_DEFECT", e.payload);
                }).listen('ClearDefects', (e) => {
                    console.log(e);
                    console.log("ClearDefects received");
                    self.$store.commit("SET_DEFECTS", []);
                });
        },

        computed: {
            ...mapState({
                defecttypes: state => state.defecttyeps.defecttyeps,
                defects: state => state.defects.defects
            }),
        },

        methods: {
            ...mapActions([
                'loadDefectTypes',
                'loadDefects',
            ]),

            undo() {
                let self = this;

                axios.post("/defects/clear").then(function(response) {
                    console.log("Defects cleared");
                    self.loadDefects();
                });                
            },

            send() {
                let self = this;

                // axios.post("/defects/send").then(function(response) {
                // });
                axios.post("/info").then(function(response) {
                });
            }            
        }
    }
</script>
