<template>
    <div class="slide slide--defecttypesindex defecttypesindex">
        <Navbar title="Defect Types"></Navbar>

        <div class="slide-body">
            <div class="uk-margin-large"></div>

            <div class="defecttypesindex-block">
                <template v-if="defecttypes.length">
                    <draggable v-model="defecttypes" :component-data="getComponentData()" handle=".handle">
                        <transition-group>
                            <div v-for="(defecttype, index) in defecttypes" :key="'defecttype-'+index" class="list-group-item uk-margin">
                                <Defecttype :defecttype="defecttype"></Defecttype>
                            </div>
                        </transition-group>
                    </draggable>
                </template>

                <div v-if="showInputNewDefect" class="list-group-item">
                    <div class="defecttype uk-flex uk-flex-middle">
                        <div class=""><img class="" src="/images/defect_placeholder.png" style="width: 100px; height: 100px;"></div>
                        <div class="uk-width-1-1 uk-flex uk-flex-middle">
                            <div class="uk-width-1-2 uk-flex uk-flex-middle">
                                <div class="defecttype-bodywrapper">
                                    <form class="uk-form-stacked">
                                        <input v-model="name" type="text" class="uk-input" id="inlineFormInputName2" placeholder="Defect name" style="width: auto;">
                                        <input style="display: none;" ref="file" type="file" class="custom-file-input" id="customFile">
                                        <button @click.prevent="$refs.file.click" type="button" class="uk-button uk-button-default btn-with-icon"><i class="ion ion-ios-image"></i></button>
                                    </form>
                                </div>
                            </div>
                            <div class="uk-width-1-2 uk-flex uk-flex-middle uk-flex-right">
                                <div class="defecttype-buttonswrapper">
                                    <div class="uk-flex uk-flex-right uk-button-group">
                                        <button v-if="showInputNewDefect" @click.prevent="showInputNewDefect=false" class="uk-button uk-button-default btn-with-icon"><i class="ion ion-ios-close-circle-outline"></i></button>
                                        <button @click.prevent="saveNewDefect" type="button" class="uk-button uk-button-primary btn-with-icon"><i class="ion ion-ios-checkmark-circle-outline"></i></button>
                                    </div>
                                </div>
                            </div>            
                        </div>
                    </div>
                </div>

                <p class="uk-margin">
                    <button v-if="!showInputNewDefect" @click="showInputNewDefect=true" type="button" class="uk-button uk-button-primary uk-button-large" style="width: 100%;">New Defect</button>
                </p>                
            </div>
        </div>
    </div>
</template>

<script>
import draggable from 'vuedraggable';

import Defecttype from './Defecttype.vue';
import { mapActions } from 'vuex';
import { mapGetters } from 'vuex';
import { mapState } from 'vuex';
import Navbar from './Navbar.vue';

export default {
    props: {
    },

    data() {
        return {
            showInputNewDefect: false,
            name: "",
            file: null
        }
    },

    components: {
        Defecttype, draggable, Navbar
    },

    mounted() {
        this.defectsCopy = this.defects;
    },

    computed: {
        defecttypes: {
            get() {
                return this.$store.state.defecttypes.defecttypes;
            },
            set(value) {
                this.$store.commit('UPDATE_DEFECTTYPES', value);
                this.handleChange();
            }
        }         
    },

    methods: {
        ...mapActions([
            'loadDefectTypes',
        ]),

        handleChange() {
            let self = this;

            let formData = new FormData();
            formData.append('defecttypes', JSON.stringify(this.$store.state.defecttypes.defecttypes));

            axios.post("/defecttypes/updateOrder", formData).then(function(response) {
                let model = response.data;
                self.loadDefectTypes();
                self.showInputNewDefect = false;
                self.name = "";
            });
        },


        getComponentData() {
            return {
                on: {
                    // change: this.handleChange,
                    // input: this.inputChanged
                },
                // attrs:{
                //     wrap: true
                // },
                // props: {
                //     value: this.activeNames
                // }
            };
        },        
        
        newDefect() {
            let self = this;
        },

        saveNewDefect() {
            let self = this;

            let formData = new FormData();
            formData.append('name', this.name);
            formData.append('file', this.$refs.file.files[0]);

            axios.post("/defecttypes", formData).then(function(response) {
                let model = response.data;
                self.loadDefectTypes();
                self.showInputNewDefect = false;
                self.name = "";
            });
        }
    }
}
</script>
