<template>
    <div v-if="!isDeleted" class="defecttype uk-flex uk-flex-middle">
        <div class="handle">
            <img class="" :src="defecttype.iconUrl" style="width: 100px; height: 100px;">
        </div>
        <div class="uk-width-1-1 uk-flex uk-flex-middle">
            <div class="uk-width-1-2 uk-flex uk-flex-middle">
                <div class="defecttype-bodywrapper">
                    <template v-if="!showEditFields">
                        <div class="defecttype-text">{{ defecttype.name }}</div>
                    </template>
                    <template v-else>
                        <form class="uk-form-stacked">
                            <input v-model="name" type="text" class="uk-input" id="inlineFormInputName2" placeholder="Defect name" style="width: auto;">
                            <input style="display: none;" ref="file" type="file" class="custom-file-input" id="customFile">
                            <button @click.prevent="$refs.file.click" type="button" class="uk-button uk-button-default btn-with-icon"><i class="ion ion-ios-image"></i></button>
                        </form>
                    </template>                
                </div>
            </div>
            <div class="uk-width-1-2 uk-flex uk-flex-middle uk-flex-right">
                <div class="defecttype-buttonswrapper">
                    <div class="uk-flex uk-flex-right uk-button-group">
                        <button v-if="!showEditFields" @click.prevent="showEditFields=true" class="uk-button uk-button-primary btn-with-icon"><i class="ion ion-ios-create"></i></button>
                        <button v-if="showEditFields" @click.prevent="showEditFields=false" class="uk-button uk-button-default btn-with-icon"><i class="ion ion-ios-close-circle-outline"></i></button>
                        <button v-if="showEditFields" @click.prevent="update" class="uk-button uk-button-primary btn-with-icon"><i class="ion ion-ios-checkmark-circle-outline"></i></button>
                        <button v-if="!showEditFields" @click.prevent="destroy" class="uk-button uk-button-danger btn-with-icon"><i class="ion ion-ios-trash"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { mapActions } from 'vuex';
    export default {
        props: ['defecttype'],

        data() {
            return {
                name: "",
                file: null,
                showEditFields: false,
                isDeleted: false
            }
        },

        mounted() {
            this.name = this.defecttype.name;
        },

        methods: {
            ...mapActions([
                'loadDefectTypes',
            ]),
            
            onEdit() {
                let self = this;
            },

            update() {
                let self = this;

                let formData = new FormData();
                formData.append('name', this.name);
                formData.append('file', this.$refs.file.files[0]);
                formData.append('_method', 'PATCH');
                axios.post("/defecttypes/" + this.defecttype.id, formData).then(function(response) {
                    let model = response.data;
                    console.log("Saved: " + JSON.stringify(model));
                    self.loadDefectTypes();
                    self.showEditFields = false;
                });
            },

            destroy() {
                let self = this;

                let formData = new FormData();
                axios.delete("/defecttypes/" + this.defecttype.id).then(function(response) {
                    self.isDeleted = true;
                    self.showEditFields = false;
                });
            }
        }
    }
</script>
