<template>
    <!-- <v-popover 
        v-if="$store.state.defecttypes.defecttypes_loaded"
        :open="show"
        placement="top"
        :offset="px"
        trigger="manual">

        <div class="tooltip-taget defect" :style="style"></div>

        <template slot="popover">
            <img class="tooltip-content" :src="imgsrc">
        </template>

    </v-popover> -->

    <div v-tooltip="{
        content: '<img src=' + this.imgsrc + '>',
        show: show,
        trigger: 'manual',
        placement: 'top'
    }" v-if="$store.state.defecttypes.defecttypes_loaded" class="defect" :style="style">
    </div>
</template>

<script>
import { mapState } from 'vuex';
import EventBus from "../EventBus.js";

export default {
    props: ['defect'],

    data() {
        return {
            show: true
        }
    },

    components: {
    },

    computed: {
        px() {
            return 100*(this.defect.x / 119);
        },

        py() {
            return 100*(this.defect.y / 73);
        },

        style() {
            return "left: " + this.px + "%; top: " + this.py + "%;";
        },

        imgsrc() {
            return this.$store.state.defecttypes.defecttypes[this.defect.defecttype_id].iconUrl;
        }
    },

    mounted() {
        let self = this;
        
        EventBus.$on("onTouchStart", function() {
            self.show = false;
        });

        EventBus.$on("onTouchEnd", function(index) {
            if (index == 0) {
                // console.log("setting timer...");
                setTimeout(function() {
                    // console.log("Showing defects");
                    self.show = true;
                }, 500);
            }
        });

        EventBus.$on("onslideTransitionStart", function(index) {
            if (index != 0) self.show = false;
        });

        EventBus.$on("onSlideTransitionEnd", function(index) {
            // console.log("onSlideTransitionEnd received: index="+index);
            if (index == 0) {
                // console.log("setting timer...");
                setTimeout(function() {
                    // console.log("Showing defects");
                    self.show = true;
                }, 500);
            }
        });
    },

    methods: {
    }
}
</script>
