<template>
<div class="slide slide--home">home</div>
</template>

<script>
    export default {
        props: [],

        data() {
            return {
            }
        },

        mounted() {
            console.log("home");
        },

        methods: {
        }
    }
</script>
