<template>
<div>
    <!-- <swiper 
        :options="swiperOption" 
        ref="mySwiper" 
        @touchStart="touchStart" 
        @touchEnd="touchEnd" 
        @slideChange="callback" 
        @slideChangeTransitionStart="slideTransitionStart" 
        @slideChangeTransitionEnd="slideTransitionEnd"
        :shortSwipes="false"> -->
        <!-- TODO: infiity slide einbauen -->
        <!-- <swiper-slide>
            <DefectView></DefectView>
        </swiper-slide>
        
        <swiper-slide>
            <DefecttypesIndex></DefecttypesIndex>
        </swiper-slide>
        
        <swiper-slide>
            <UserSettings></UserSettings>
        </swiper-slide>
    </swiper> -->
    <!-- <router-view></router-view> -->

    <div ref="slider">

    <div class="uk-slider-container">
        <ul class="uk-slider-items uk-child-width-1-1">
            <li>
                <DefectView></DefectView>
            </li>
            <li>
                <DefecttypesIndex></DefecttypesIndex>
            </li>
            <li>
                <UserSettings></UserSettings>
            </li>
        </ul>

        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
    </div>

</div>
</div>
</template>

<style>
    a.uk-slidenav {
        border-radius: 100% !important;
        background-color: #999 !important;
        color: white !important;
        border-color: white !important;
    }
    a.uk-slidenav:active,
    a.uk-slidenav:focus,
    a.uk-slidenav:hover {
        border-radius: 100% !important;
        background-color: #999 !important;
        color: white !important;
        border-color: white !important;
    }
</style>

<script>
// import Sitemenu from './Sitemenu.vue';
import { swiper, swiperSlide } from 'vue-awesome-swiper';
import DefectView from './DefectView.vue';
import DefecttypesIndex from './DefecttypesIndex.vue';
import UserSettings from './UserSettings.vue';
import EventBus from "../EventBus.js";

export default {
    components: {
        swiper, swiperSlide, DefectView, DefecttypesIndex, UserSettings
    },

    data: function() {
        return {
            slider: null,
            swiperOption: {
                loop: false,
            }            
        }
    },

    created() {
        let self = this;
    },

    mounted: function() {
        let self = this;

        this.slider = window.UIkit.slider(this.$refs.slider, {
            draggable: false
        });

        $(document).on('beforeitemhide', this.$refs.slider, function() {
            self.touchStart();
        });

        $(document).on('itemshown', this.$refs.slider, function(params) {
            self.touchEnd();
        });        

    },

    computed: {
    },

    methods: {
        callback() {
            // console.log("Swipe change to " + this.$refs.mySwiper.swiper.activeIndex);
            // EventBus.$emit("onSwipeChange", this.$refs.mySwiper.swiper.activeIndex);
        },

        touchStart() {
            EventBus.$emit("onTouchStart");
        },     
        
        touchEnd() {
            EventBus.$emit("onTouchEnd", this.slider.getValidIndex());
        },        

        slideTransitionStart() {
            // console.log("onslideTransitionStart: " + this.$refs.mySwiper.swiper.activeIndex);
            EventBus.$emit("onslideTransitionStart", this.slider.getValidIndex());
        },

        slideTransitionEnd() {
            // console.log("onSlideTransitionEnd: " + this.$refs.mySwiper.swiper.activeIndex);
            EventBus.$emit("onSlideTransitionEnd", this.slider.getValidIndex());
        }
    },
}
</script>