<template>
<div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">
    <nav class="uk-navbar-container" uk-navbar="mode: click;">
        <div class="uk-navbar-left">
            <h1 v-if="title.length" style="padding-left: 20px; font-size: 2.0rem; margin-bottom: 0;">{{ title }}</h1>
        </div>

        <div class="uk-navbar-right">

            <ul class="uk-navbar-nav">
                <li>
                    <a href="#" style="padding-right: 20px;"><i class="ion ion-ios-settings" style="margin-right: 10px;"></i> {{ username }}</a>
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            <li class="uk-flex uk-flex-middle">
                                <a @click.prevent="logout" href="#">
                                    <div class="uk-flex uk-flex-middle">
                                        <div><i class="ion ion-ios-log-out" style="margin-right: 5px;"></i></div><div>Log out</div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>

        </div>
    </nav>
</div>
</template>

<script>
import EventBus from "../EventBus.js";

export default {
    props: {
        title: {
            type: String,
            default: ""
        }
    },

    data() {
        return {
            username: ""
        }
    },

    components: {
    },

    computed: {
    },

    mounted() {
        let self = this;

        this.loadUserInfo();
    },

    methods: {
        loadUserInfo() {
            let self = this;
            axios.get("/users")
            .then(function (response) {
                self.username = response.data.name
            })
            .catch(function (error) {
                console.log("Error: " + JSON.stringify(error));
            });
        },

        logout() {
            let self = this;
            var form = document.getElementById('logout-form');
            form.submit();
        }
    }
}
</script>
