<template>
    <section class="menu menu--circle">
        <input type="checkbox" id="menu__active"/>
        <label for="menu__active" class="menu__active">
            <div class="menu-overlay"></div>

            <div class="menu__toggle">
                <div class="icon">
                    <div class="hamburger"></div>
                </div>
            </div>
            <input type="radio" name="arrow--up" id="degree--up-0"/>
            <input type="radio" name="arrow--up" id="degree--up-1" />
            <input type="radio" name="arrow--up" id="degree--up-2" />
            <div class="menu__listings">
                <ul class="circle">
                    <li>
                        <div class="placeholder">
                            <div class="upside">
                                <router-link :to="{name: 'UserSettings', params: {}}" class="button">
                                    <i class="fa fa-user"></i>
                                </router-link>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="placeholder">
                            <div class="upside">
                                <router-link :to="{name: 'DefecttypesIndex', params: {}}" class="button">
                                    <i class="fa fa-cog"></i>
                                </router-link>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="placeholder">
                            <div class="upside">
                                <router-link :to="{name: 'DefectView', params: {}}" class="button">
                                    <i class="fas fa-diagnoses"></i>
                                </router-link>                                
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="placeholder">
                            <div class="upside">
                                <a class="button" href="#">&nbsp</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="placeholder">
                            <div class="upside">
                                <a class="button" href="" @click.prevent="logout">
                                    <i class="fas fa-sign-out-alt"></i>
                                </a>  
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="placeholder">
                            <div class="upside">
                                <router-link :to="{name: 'DefectView', params: {}}" class="button">
                                    <i class="fa fa-battery-4"></i>
                                </router-link>                                
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="placeholder">
                            <div class="upside">
                                <a href="#">&nbsp</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="placeholder">
                            <div class="upside">
                                <a href="#">&nbsp</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="placeholder">
                            <div class="upside">
                                <a href="#">&nbsp</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="placeholder">
                            <div class="upside">
                                <router-link :to="{name: 'DefectView', params: {}}" class="button">
                                    <i class="fas fa-diagnoses"></i>
                                </router-link>                                
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="menu__arrow menu__arrow--top">
                <ul>
                    <li>
                        <label for="degree--up-0"><div class="arrow"></div></label>
                        <label for="degree--up-1"><div class="arrow"></div></label>
                        <label for="degree--up-2"><div class="arrow"></div></label>
                    </li>
                </ul>
            </div>
        </label>
    </section>

</template>

<script>
    export default {
        props: [],

        data() {
            return {
            }
        },

        mounted() {
        },

        methods: {
            logout() {
                document.getElementById('logout-form').submit();
            }
        }
    }
</script>
