<template>
    <div class="slide slide--usersettings">
        <Navbar title="Settings"></Navbar>

        <div class="slide-body">
            <div class="uk-margin-large"></div>

            <div class="uk-container">
                <div class="uk-card uk-card-body uk-card-default">
                    <h2 class="uk-card-title">Remote Button Mappings</h2>
                    <div class="uk-grid uk-grid-match" uk-grid>
                        <div class="uk-width-1-4 uk-text-center uk-flex uk-flex-middle">
                            <div>
                                <img class="usersettings-remote" src="/images/remote.png">
                            </div>
                        </div>
                        <div class="uk-width-3-4">
                            <div>
                                <form class="uk-form-stacked">
                                    <div class="uk-grid uk-child-width-1-2" uk-grid>
                                        <div class="" v-for="i in 7" :key="'button-'+i">
                                            <label class="uk-form-label" for="">Button #{{ i }}</label>
                                            <v-select :clearable="false" v-model="btnmaps[i-1]" label="name" :options="defecttypes">
                                                <template slot="option" slot-scope="option">
                                                    <div class="usersettings-selectoption uk-flex uk-flex-middle">
                                                        <div class="usersettings-selectoption_image"><img :src="option.iconUrl"></div>
                                                        <div class="usersettings-selectoption_name">{{ option.name }}</div>
                                                    </div>
                                                </template>
                                                <template slot="selected-option" slot-scope="option">
                                                    <div class="usersettings-selectoption uk-flex uk-flex-middle">
                                                        <div class="usersettings-selectoption_image"><img :src="option.iconUrl"></div>
                                                        <div class="usersettings-selectoption_name">{{ option.name }}</div>
                                                    </div>
                                                </template>
                                            </v-select>
                                        </div>
                                    </div>
                                    <div class="uk-margin">
                                        <button type="button" @click.prevent="save" class="uk-button uk-button-primary">Save</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Navbar from './Navbar.vue';
import { mapGetters } from 'vuex';
import { mapState } from 'vuex';

export default {
    props: {
    },

    data() {
        return {
            btnmaps: []
        }
    },

    components: {
        Navbar
    },

    computed: {
        ...mapState({
            defecttypes_loaded: state => state.defecttypes.defecttypes_loaded
        }),
                
        ...mapGetters([
            'defecttypeById',
        ]),

        defecttypes() {
            return this.$store.state.defecttypes.defecttypes;
        }
    },

    mounted() {
    },

    watch: {
        defecttypes_loaded() {
            if (this.defecttypes_loaded) this.load();
        }
    },

    methods: {
        load() {
            let self = this;
            axios.get("/customremotesettings").then(function(response) {
                let maps = JSON.parse(response.data.buttonmapping);
                maps.forEach(function(id) {
                    self.btnmaps.push( self.defecttypeById(id) );
                });
            });
        },

        save() {
            let self = this;
            let arrayWithDTIds = this.btnmaps.map(function(el) {
                return el.id;
            });

            axios.post("/customremotesettings", {
                "buttonmapping": JSON.stringify(arrayWithDTIds)
            }).then(function(response) {
                console.log("Saved");
            });
        }
    }
}
</script>
